.main-container{
    height: 100vh auto;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    top: 60px;
    position: relative;
    padding-bottom: 60px;
    max-width: 100;
}
.side-container{
    width:300px;
    left:0;
    height: 100vh ;
    position:fixed;
    background-color: white;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    align-items: left;
    margin-top: 24px;
    background-color: #fff;
    z-index: 50;
    top: 80px;
}
/* .green-btn{
    border: none;
    border-radius: 20px;
    background-color: #00676C;
    color: #FDFFEA;
    font-size: 18px;
    padding: 14px 25px;
    width: 200px;
    margin-top: 5px;
}
.green-btn:hover{
    background-color: #045458;
} */
.grey-btn{
    border: none;
    background-color: rgb(234, 234, 234);
    color: #333;
    font-size: 16px;
    padding: 14px 25px;
    width: 200px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.grey-btn:hover {
    background-color: rgb(198, 198, 198);
}
.bigger-side-container{
    flex-direction:column;
    align-items: left;
    justify-content: center;
    height: auto;
    padding-top: 50px;
    background-color: #ffffff;
    margin-left: 300px;
    padding-left: 40px;
    display:flex;
}
.inner-container{
    display:inline-flex;
    /* flex-wrap:wrap; */
    position: relative;
    padding:10px 5px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.course-header{
    flex-direction: row;
    display: flex;
    justify-content:left;
}
#course-title{
    color: #252B42;
    font-size: 50px;
    align-items: flex-start;
}
#course-searchbar{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: right;
    color: #252B42;
    position: absolute;
    right: 3%;
}
.title-container{
    position: relative;
}
.anchor{
    position: absolute;
    top:-150px;
    left: 0px;
}