.reward{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.reward-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* gap:500px; */
  /* position: absolute; */
  top:140px;
}
#reward-title{
    text-align: left;
    color: #252B42;
    font-size: 50px;
    /* position: absolute; */
    left:8%;
    flex-direction: row;
}
.frame-1 {
    /* position: relative; */
    top: 200px;
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px;
    flex-direction: row;
  }
.frame-in-1{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
}
.frame-in-1 img {
    margin-bottom: 5px;
    object-fit: contain; 
  }
.frame-in-1 p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
.frame-in-1 h2{
    font-size: 50px;
    color: #00676C;
}
#farmer-img img{
    width: 300px;
    height: auto;
    object-fit: contain;
}
.frame-2{
    border-radius: 15px;
    width:auto;
    min-height: auto;
    /* position: relative; */
    top: 700px;
    background-color: #00676C;
    display: flex; 
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}
.title-reward p{
    text-align: center; 
    font-size: 30px; 
    color: white; 
    margin-top: 30px; 
    margin-bottom: 30px;
    font-weight: bold;
    flex: 0;
  }

.frame-promo{
    flex: 1; /* Allow frame-promo to grow to fill remaining space */
    width: 100%; /* Ensure frame-promo fills the container */
    max-width: 1200px; /* Set maximum width */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.card-promo {
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    flex-basis: 15%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 1px 10px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    background-color: white;
  }
.card-promo:hover{
  box-shadow: 5px 5px 6px 6px #2f2f2f;
}

.card-promo img {
    margin: 5%;
    border-radius: 10%;
    width: 190px;
    height: auto;
  }

.require-coin {
    display: flex; 
    align-items: center; 
}
  
  .require-coin img {
    width: 40px;
    margin-right: 10px; 
    margin-top: 5px;
  }
  .require-coin p{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .modalContainer{
    max-height: 500px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  }
  .promo1{
    width: 400px;
    object-fit: cover;
  }
  .modalRight{
    width: 100%;
  }
.close{
  position: fixed;
  top: 8px;
  right: 8px;
  border: none;
  background-color: white;
  font-size: 15px; /* Adjust the font size as needed */
  padding: 10px;
}
.off-header{
  margin: 2rem;
  font-weight: bold;
  font-size: 25px;
}
.off-content{
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.BtnRedeem{
  position: fixed;
  bottom: 30px;
  display: flex;
  padding: 1rem 2rem;
  border: none;
  background-color: #00676C;
  color: white;
  border-radius: 15px;
  margin-left: 2rem;
}
.BtnRedeem:hover{
  background-color: #efefef;
  border:2px solid black;
  color: black;
}
.dropdown-button{
  background-color: white;
  font-size: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 330px;
  text-align: left;
  margin: 5px;
}
.dropdown-content{
  padding: 5px;
  width: 330px;
  max-height: 100px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.dropdown-content ul{
  list-style-type: disc; /* Use bullet points */
  padding-left: 20px; /* Add padding to align bullet points */
  margin-top: 5px; /* Add margin to separate from other content */
}

.dropdown-content li {
  margin-bottom: 5px; /* Add margin between list items */
}
