.logo {
    width: 180px;
    padding: 15px 0;
}

nav{
    width: 100vw;
    background: #FDFFEA;
    color: #333;
    position: fixed;
    padding: 20px 0;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 300ms;

}

nav ul li:hover{
    font-weight: bold;
    transform: translate(0px, -5px);
}

.nav-login-btn{
    background: #00676C;
    color: #FDFFEA;
    font-size: 16px;
    padding: 14px 25px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.nav-login-btn:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.1);
}

.menu{
    display:none;
    position:absolute;
    top:35px;
    right:100px;
    flex-direction: column;
    flex-direction:space-between;
    width:20px;
    height:16px;
    align-items: centre;
  
}
.menu span{
   height:20px;
   width:100%;
   background-color:black;
   border-radius:0.2rem;
   margin:1px;


}

nav ul.open{
display:flex;
}

@media (max-width:1050px){
    .menu{
        display:flex;
    }

    nav{
        flex-direction:column;
        align-items: start;
    }

    nav ul{
        display:none;
        flex-direction:column;
        width:100%;
        margin-bottom: 0.25rem;
    }

    nav ul li{
       width :100%;
       text-align:end;
    }

}




