.course-container{
    border-radius: 12px;
    background-color: #ffffff;
    padding: 15px ;
    height: auto;
    width: auto;
    font-size: 25px;
    color: #333;
    margin: 5px 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}
.course-container:hover{
    background-color: #eeeeee;
}
.course-img-container{
    height: 200px;
    width: 300px;
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.course-img-container img {
    width: 300px;
    height: 200px;
    object-fit:fill;
}
.course-tag-container{
    flex-direction: row;
    display: flex;
    justify-content: left;
}
.tag{
    font-size: 12px;
    background-color: #63beca;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 30px;
    margin-right: 5px;
}
.info {
    margin-top: 5px;
    font-size: 14px;
}
.course-not-img-container{
    display: flex;
    align-items: left;
    flex-direction: column;
}