.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* display: flex; */
}
.hero-text{
    text-align: left;
    max-width: 1000px;
    line-height: 1.4;
    color: #252B42;
    font-size: 27px;
}
.illustration{
    width:500px;
    padding-left: 20px;
    padding-top: 100px;
}
.illustration5{
    width: 600px;
    margin-left: 100px;
}
.hero-btn{
    background: #00676C;
    color: #FDFFEA;
    font-size: 18px;
    margin-top: 40px;
    border: 0;
    padding: 14px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.3);

}

.hero-btn:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);

}

.hero-big{
    background: #fff;
    display:flex;
    align-items: center;
    margin: 20px 100px;
    gap: 20px;
}
.hero-two .hero-big{
    background: #fff;
    display:flex;
    align-items: center;
    margin: 20px 100px;
    gap: 100px;
}
p{
    font-size: 1.3rem;
    margin-top: 20px;
}
